
p{
  background-color: rgb(23, 37, 168);
  color: white;
  text-align: center;
  padding: 5px;
}

/*MyHello 컴포넌트*/
.divHello{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spanHello{
  color: blue;
}

.spanNum{
  color: brown;
}

