* {
  margin: 5px;
  padding: 1px;
}

h1 {
  text-align: center;
  background-color: black;
  color: white;

}

ul {
  text-align: center;
  border: 2px solid black;
}

li {
  display: inline-flexbox;
  list-style: none;
  justify-content: center;

}

span {
  font-size: 20px;
  display: flexbox;
}

.pan1 {
  width: 100px;
  display: inline-table;
  text-align: left;
}

.pan2 {
  width: 200px;
  display: inline-table;
  text-align: left;
}

.TTs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.p {
  padding: 3px;
}

.o {
  padding: 3px;
}